// ROOMS SHOW
section.rooms-show {

  h2, h4 {
    text-align: center;
    padding: 10px 0;
  }

  .bold,
  ul li.price span {
    font-weight: bold;
  }

  .button {
    padding: 20px 0;
    text-align: right;
  }
}
